.md-table-head.md-numeric,
.md-table-cell.md-numeric {
  text-align: center !important;
}

.md-icon {
  font-size: 22px !important;
}

.btn-action {
  color: #3a9ad9 !important;
  background-color: transparent;
  border: 2px solid #3a9ad9;
  border-radius: 50%;
  font-size: 24px !important;
  height: 32px !important;
  width: 32px !important;
  transition: 0.4s;
}

.btn-action:hover {
  color: #fafafa !important;
  background-color: #3a9ad9 !important;
}

.progress-block {
  font-size: 24px;
  font-weight: 700;
  padding: 0 15px;
}

.progress-main-header {
  display: flex;
  justify-content: space-between;
}

.progress-header {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

.progress-task-bar {
  margin-top: 10px;
  height: 10px;
  border-radius: 5px;
}

.tasks-content {
  text-align: initial;
}

.tasks-block {
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
}

.category-picker {
  margin-top: 10px;
}
