.md-table-head.md-numeric,
.md-table-cell.md-numeric {
  text-align: center !important;
}

.md-icon {
  font-size: 22px !important;
}

.btn-circle {
  display: inline-block;
  border: 2px solid #3a9ad9;
  background-color: transparent;
  height: 25px !important;
  width: 25px !important;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.4s;
}

.btn-circle:hover {
  background-color: #3a9ad9;
}

.btn-action {
  color: #3a9ad9 !important;
  background-color: transparent;
  border: 2px solid #3a9ad9;
  border-radius: 50%;
  font-size: 24px !important;
  height: 32px !important;
  width: 32px !important;
  transition: 0.4s;
}

.btn-action:hover {
  color: #fafafa !important;
  background-color: #3a9ad9 !important;
}

.progress-block {
  font-size: 24px;
  font-weight: 700;
  padding: 0 15px;
}

.progress-main-header {
  display: flex;
  justify-content: space-between;
}

.progress-header {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

.progress-task-bar {
  margin-top: 10px;
  height: 10px;
  border-radius: 5px;
}

.tasks-content {
  text-align: initial;
}

.tasks-block {
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
}

.task {
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.task-item {
  cursor: pointer;
  margin-left: 20px;
  padding-bottom: 10px;
  width: 100%;
}

.task-name {
  font-size: 18px;
}

.task-info {
  display: flex;
  margin-top: 5px;

  .task-info-header:not(:first-child) {
    margin-left: 15px;
  }
}

.task-sub-info {
  margin-left: 5px;
  vertical-align: bottom;
}

.task-info-header {
  .md-icon {
    color: #3a9ad9;
  }

  font-size: 14px;
  color: #3a9ad9;
}

.task-finished {
  .task-item > .task-name {
    color: rgba($color: #000000, $alpha: 0.2);
  }

  .task-item > .task-info > .task-info-header {
    .md-icon {
      color: rgba($color: #000000, $alpha: 0.2);
    }

    font-size: 14px;
    color: rgba($color: #000000, $alpha: 0.2);
  }
  .btn-circle {
    background-color: #3a9ad9;
  }
}

.action-block {
  margin: 20px 0 0 10px;
}

.action-buttons {
  cursor: pointer;
  display: flex;

  .md-icon {
    color: #3a9ad9;
  }
}

.category-picker {
  margin-top: 10px;
}

@media (max-width: 320px) {
  .task-name {
    font-size: 16px;
  }

  .task-info-header {
    font-size: 13px;
  }
}
