.actions-menu {
  display: flex;
  flex-direction: column;
  margin-left: -10px;

  .md-button {
    margin: 0;
    border-bottom: 1px solid #3a9ad9;

    .md-ripple > .md-button-content {
      width: 100%;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    color: #3a9ad9;
    min-height: 30px;
    margin-left: 0;

    .md-icon {
      margin-left: 5px;
    }

    span {
      flex: 1;
    }
  }
}
