.timeline {
    --uiTimelineMainColor: var(--timelineMainColor, #222);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
  
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .timeline:before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: var(--uiTimelineMainColor);
  
    position: absolute;
    top: 0;
  }
  
  .timeline__box {
    position: relative;
    margin-top: 20px;
  }
  
  .timeline__box:not(:last-of-type) {
    margin-bottom: 30px;
  }
  
  .timeline__box:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--uiTimelineMainColor);
  
    position: absolute;
    left: 0;
    z-index: -1;
  }
  
  .timeline__date {
    min-width: 65px;
    position: absolute;
    left: 0;
  
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    text-align: center;
  
    background-color: var(--uiTimelineMainColor);
    color: var(--uiTimelineSecondaryColor);
  }
  
  .timeline__day {
    font-size: 2rem;
    font-weight: 700;
    display: block;
  }
  
  .timeline__month {
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  
  .timeline__post {
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border-left: 3px solid var(--uiTimelineMainColor);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    background-color: var(--uiTimelineSecondaryColor);
    cursor: pointer;
  }

  .timeline__post__finished {
    background-color: lightgrey;
  }

  .timeline__content__finished {
    color: grey;
  }

  .timeline__actions {
    display: flex;
    justify-content: flex-end;
    .md-icon {
      margin: 0px;
    }
  }

  .non-del-actions {
    display: flex;
  }
  
  @media screen and (min-width: 641px) {
    .timeline:before {
      left: 30px;
    }
  
    .timeline__box {
      padding-left: 80px;
      padding-right: 80px;
    }
  
    .timeline__box:before {
      top: 50%;
      transform: translateY(-50%);
    }
  
    .timeline__date {
      top: 50%;
      margin-top: -27px;
    }
  }
  
  @media screen and (max-width: 640px) {
    .timeline:before {
      left: 0;
    }
  
    .timeline__box {
      padding-left: 20px;
    }
  
    .timeline__box:before {
      top: 90px;
    }

    .timeline__content {
      margin-left: 15px;
      overflow: hidden;
    }
  
    .timeline__date {
      margin-top: 20px;
      margin-left: 10px;
    }

    .timeline__day {
      font-size: 1.5rem;
    }

    .timeline__actions {
      justify-content: space-between;
      padding-left: 25px;
    }
  }
  
  .timeline {
    --timelineMainColor: #3a9ad9;
    font-size: 16px;
  }
  
  @media screen and (min-width: 768px) {
    html {
      font-size: 62.5%;
    }
  }
  
  @media screen and (max-width: 767px) {
    html {
      font-size: 55%;
    }
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans,
      Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    color: #222;
  
    background-color: #f0f0f0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-size: 24px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .page__demo {
    flex-grow: 1;
  }
  
  .main-container {
    max-width: 960px;
    padding-left: 2rem;
    padding-right: 2rem;
  
    margin-left: auto;
    margin-right: auto;
  }
  
  .page__container {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 800px;
  }